.layout {
  // Outer positioning
  flex-grow: 1;

  // Inner positioning
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-sizing: border-box;
  flex-grow: 1;
  max-width: 384px;
}
