{
  "env": {
    "browser": true,
    "es2022": true
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "tsconfigRootDir": ".",
    "project": "./tsconfig.json",

    "sourceType": "module",
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"]
    }
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import",
    "react",
    "react-hooks",
    "jsx-a11y"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-restricted-syntax": "off",
    "no-restricted-exports": "off",
    "no-param-reassign": "off",
    "max-classes-per-file": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-shadow": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",

    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "controlComponents": ["Input", "Checkbox"],
        "assert": "either"
      }
    ],

    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],

    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ]
  }
}
