.spinner {
  stroke: currentcolor;
  transform-origin: 50% 50%;
  animation: spin 1s linear infinite both;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
