.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.spinner {
  width: 48px;
  height: 48px;
}

.title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
